
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body{
    background-color: rgb(213, 211, 210);
}

.carousel-mesas {
    width: 100%;
    max-width: 100%;
}


.carousel-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
}
    


.content{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul{
    display: flex;
    gap: 25px;
}

nav ul li a{
    color: rgb(238, 239, 201);
    font-size: 20px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: rgb(237, 236, 234);
}


.primeira-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;

}
.conteudo-principal{
    color: rgb(131, 100, 100);
    padding: 40px;
    
}

.conteudo-principal h1{
    font-size: 48px;
}

.conteudo-principal h2{
    font-size: 24px;
    margin: 15px 0;
}
.logo {
    display: flex;          
    align-items: center;   
    gap: 10px;              
    color: white;
}

.logo {
    display: flex;          
    align-items: center;   
    gap: 10px;              
    color: white;
}

.logo img {
    width: 60px;   
    height: auto;
}
.logo img {
    width: 60px;   
    height: auto;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0b0b0b;
    padding: 40px 20px;
    flex-wrap: wrap;
    text-align: center;
}

.beneficio {
    color: white;
    max-width: 200px;
}

.beneficio i {
    font-size: 40px;
    color: #f5b041; /* amarelo */
    margin-bottom: 10px;
}

.beneficio h4 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.beneficio p {
    font-size: 14px;
    color: #ccc;
}

.faixa {
    width: 100%;
    overflow: hidden;
    background: #f5b041;
    color:  #000  ;
    white-space: nowrap;
}

.faixa p {
    display: inline-block;
    padding-left: 100%;
    animation: rolar 40s linear infinite;
    font-size: 24px;
}

@keyframes rolar {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

footer {
    background-color: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer p {
    color: white;
    font-size: 16px;
    margin: 0;
}
