
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body{
    background-color: rgb(213, 211, 210);
}


.content{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul{
    display: flex;
    gap: 25px;
}

nav ul li a{
    color: rgb(238, 239, 201);
    font-size: 20px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: rgb(237, 236, 234);
}


.primeira-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;

}
.conteudo-principal{
    color: rgb(131, 100, 100);
    padding: 40px;
    
}

.conteudo-principal h1{
    font-size: 48px;
}

.conteudo-principal h2{
    font-size: 24px;
    margin: 15px 0;
}
.logo {
    display: flex;          
    align-items: center;   
    gap: 10px;              
    color: white;
}

.logo {
    display: flex;          
    align-items: center;   
    gap: 10px;              
    color: white;
}

.logo img {
    width: 60px;   
    height: auto;
}
.logo img {
    width: 60px;   
    height: auto;
}

.orcamento {
    padding: 40px;
    background-color: #111;
    color: white;
}

.orcamento form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

.orcamento input,
.orcamento select,
.orcamento textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.orcamento button {
    background-color: #f5b041;
    color: black;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}