        /* navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;                 
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
/* retirei o ul none!! */

body{
    background-color: rgb(213, 211, 210);
}

.content{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul{
    display: flex;
    gap: 25px;
}

nav ul li a{
    color: rgb(238, 239, 201);
    font-size: 20px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: rgb(237, 236, 234);
}

.primeira-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;

}
.conteudo-principal{
    color: rgb(131, 100, 100);
    padding: 40px;
    
}

.conteudo-principal h1{
    font-size: 48px;
}

.conteudo-principal h2{
    font-size: 24px;
    margin: 15px 0;
}

.logo {
    display: flex;          
    align-items: center;   
    gap: 10px;              
    color: white;
}

.logo img {
    width: 60px;   
    height: auto;
}

        /* cor de fundo */

body{
    background-color: rgb(213, 211, 210);
}

        /* div separação */

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
}

        /* H1 */

.titulo{
    text-align: center;
    color: #fdc209;
    font-weight: normal;
    font-size: 70px;
}

.força{
    font-weight: normal;
}

        /* lista não ordenada */

ul{
list-style-type: disc;
color: rgb(0, 0, 0);
}

li::marker {
    color: #fdc209;
}

        /* imagem */

.imagem{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

        /* rodape */

footer {
    background-color: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer p {
    color: white;
    font-size: 16px;
    margin: 0;
}
